<div class="fluid-container">
  <div class="flexbox-container">
    <!-- <div class="card card-profile">
    <div class="card-avatar" data-background-color="purple">
        <img  src="assets/img/login.png">
    </div>
    <div class="content">
      <h4 class="card-title">Enter your email and password</h4>
      <div class="card-content">

        <button class="btn btn-primary btn-round">Login</button>
      </div>
    </div>
  </div> -->
    <div class="card login-form" style="text-align: center">
      <div class="card-content">
        <h6 class="category text-gray">Login required</h6>
        <h4 class="card-title">Enter your email and password to log in</h4>

        <div style="text-align: left">
          <div class="form-group label-floating">
            <label class="control-label">Email address</label>
            <input type="email" class="form-control">
          </div>
          <div class="form-group label-floating">
            <label class="control-label">Password</label>
            <input type="password" class="form-control">
          </div>
        </div>

        <button class="btn btn-primary btn-round">Login</button>

      </div>
    </div>
  </div>
</div>