<div class="sidebar" data-color="purple" data-image="../assets/img/sidebar-3.jpg">
  <div class="logo">
      <a href="http://www.creative-tim.com" class="simple-text">
          Ideas
      </a>
  </div>
  <div class="sidebar-wrapper">
      <ul class="nav">
          <li routerLinkActive="active">
            <a routerLink="/newest">
              <i class="material-icons">lightbulb_outline</i>
              <p>Newest ideas</p>
            </a>
          </li>
          <li routerLinkActive="active">
            <a routerLink="/category/3">
              <i class="material-icons">folder_open</i>
              <p>Category</p>
            </a>
          </li>
        </ul>
  </div>
</div>