<div class="wrapper">
  <app-menu></app-menu>

  <div class="main-panel">
    <nav class="navbar navbar-transparent navbar-absolute">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Section title </a>
        </div>
      </div>
    </nav>
    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </div>


</div>